<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{/fragments :: head(pageTitle='Ingredients')}"></head>
<body>
<div class="container ">
  <nav th:replace="~{/navbar :: navbar(current='Ingredients')}"></nav>
  <h1>Ingredienti</h1>
  <div class="row my-3">
    <div class="col-6">
    <h4>Lista ingredienti</h4>
      <ul class="list-group" th:if="${ingredients.size > 0}">
<!--      prendo la lista degli ingredienti dal controller con addAttribute-->
        <li class="list-group-item d-flex align-items-center justify-content-between"
            th:each="ing : ${ingredients}"
            th:object="${ing}">
          <div>
          <h5 th:text="*{ingredient}"></h5>
          </div>
          <div class="d-flex">
          <a th:href="@{/ingredients(edit=*{id})}" class="btn btn-primary px-2 py-1 me-1"><i
                  class="fa-solid fa-pen-to-square"></i></a>
          <form method="post" th:action="@{|/ingredients/delete/*{id}|}">
            <button class="btn btn-danger px-2 py-1" type="submit"><i class="fa-solid fa-trash-can"></i></button>
          </form>
        </div>
        </li>
      </ul>
      <div class="alert alert-info" th:unless="${ingredients.size > 0}">
        Non ci sono ingredienti
      </div>
    </div>
    
      <div class="col-6">
        <p>Aggiungi ingrediente</p>
        <form th:action="@{ingredients/save}" id="ingredient-form" method="post" th:object="${ingredientObj}">
          <div class="">
            <input type="hidden" th:field="*{id}">
            <label class="form-label" for="ingredient">Nome Ingrediente*</label>
            <input class="form-control" type="text" id="ingredient" th:field="*{ingredient}"
                   th:errorClass="is-invalid">
            <div th:if="${#fields.hasErrors('ingredient')}" class="invalid-feedback">
              <ul>
                <li th:each="err : ${#fields.errors('ingredient')}" th:text="${err}"></li>
              </ul>
            </div>
          </div>
         
          <div class="my-2">
            <button class="btn btn-success me-1" type="submit">Salva</button>
            <a class="btn btn-secondary" th:href="@{/ingredients}">Cancel</a>
          </div>
        </form>
    </div>
  </div>
  
</div>
</body>
