<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{/fragments :: head(pageTitle='pizze')}"></head>

<body>
<div class="container my-5" th:object="${pizza}">
  <nav  th:replace="~{/navbar :: navbar(current='pizze')}"></nav>

  <h1 class="text-center my-5" th:text="|Dettaglio pizza *{name}|"></h1>
  <div class="row d-flex justify-content-center">
    <div class="col-6  d-flex justify-content-center">
      <div class="card">
      <img class="img-fluid card-img-top" th:src="*{imageUrl}" alt="" src="">
        <div class="card-body">
          <h3 th:text="*{name}"></h3>
          <p><small th:text="| *{description}|"></small></p>
          <p><strong>Prezzo</strong><small th:text="| *{price}|"></small> €</p>

          <p class="text-end m-0 "><a th:href="@{/pizza}">Torna alla lista</a></p>
        </div>
      </div>
    </div>
  </div>
</div>

</body>
</html>