<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <th:block th:replace="fragments :: bootstrap"></th:block>
</head>
<body>

<div class="container" th:object="${pizza}">
  <div class="row d-flex justify-content-center">
    <div class="col-6 d-flex justify-content-center">
      <div class="card">
      <img class="img-fluid card-img-top" th:src="*{imageUrl}" alt="">
      <h3 th:text="*{name}"></h3>
      <small th:text="|Descrizione *{description}|"></small>
        <a th:href="@{/pizza}">Home</a>
      </div>
    </div>
  </div>
</div>

</body>
</html>