<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{/fragments :: head(pageTitle='Edit')}"></head>
<body th:with="isEdit=${pizza.id!= null}">
<div class="container">
  <nav th:replace="~{/navbar :: navbar(current='Edit')}"></nav>
  <h1 class="my-5" th:text="${isEdit ? 'Modifica pizza' : 'Nuova pizza'}"></h1>
  <!-- aggiungi il th:with-->
  <form method="post"
        th:action="${isEdit ? '/pizza/edit/'+ pizza.id : '/pizza/create'}"
        th:object="${pizza}"
        id="pizza-form"
        class="row">

    <div class="col-6">
      <label class="form-label" for="pizza-name">Nome pizza</label>
      <input class="form-control" type="text" id="pizza-name" th:field="*{name}"
             th:errorClass="is-invalid">
      <div th:if="${#fields.hasErrors('name')}" class="invalid-feedback">
        <ul>
          <li th:each="err : ${#fields.errors('name')}" th:text="${err}"></li>
        </ul>
      </div>
      <label class="form-label" for="pizza-desc">Descrizione</label>
      <input class="form-control" type="text" id="pizza-desc" th:field="*{description}">
      <div th:if="${#fields.hasErrors('description')}" class="invalid-feedback">
        <ul>
          <li th:each="err : ${#fields.errors('description')}" th:text="${err}"></li>
        </ul>
      </div>
    </div>

    <div class="col-6">
      <label class="form-label" for="pizza-img">Link immagine</label>
      <input class="form-control" type="text" id="pizza-img" th:field="*{imageUrl}">
      <div th:if="${#fields.hasErrors('imageUrl')}" class="invalid-feedback">
        <ul>
          <li th:each="err : ${#fields.errors('imageUrl')}" th:text="${err}"></li>
        </ul>
      </div>

      <label class="form-label" for="pizza-name">Prezzo</label>
      <input class="form-control" type="number" id="pizza-price" th:field="*{price}">
      <div th:if="${#fields.hasErrors('price')}" class="invalid-feedback">
        <ul>
          <li th:each="err : ${#fields.errors('price')}" th:text="${err}"></li>
        </ul>
      </div>
    </div>

    <div class="col-12 d-flex justify-content-center my-4">
      <button class="btn btn-primary" type="submit">Salva</button>
      <a th:href="@{/pizza}"><button class="btn btn-outline-secondary" type="button">Cancel</button></a>
    </div>
  </form>
</div>
</body>
</html>