<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{/fragments :: head(pageTitle='Menù')}"></head>
<body>
<div class="container ">
  <nav th:replace="~{/navbar :: navbar(current='Menù')}"></nav>
  <h1 class="text-center my-5">Pizze</h1>
  <div th:if="${message != null}" class="alert alert-dismissible fade show"
       th:classAppend="${#strings.equalsIgnoreCase(message.type, 'SUCCESS')} ? 'alert-success' : 'alert-danger'">
    <div th:text="${message.message}"></div>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  <div class="d-flex justify-content-between align-items-center">
    <form th:action="@{pizza}" method="GET" class="d-flex justify-content-end" >
      <div class="input-group mb-3">
          <input type="search" class="form-control " th:value="${searchString}" placeholder="Cerca per nome" name="keyword">
          <button class="btn btn-outline-primary" type="submit">Cerca</button>
      </div>
    </form>
    <a  sec:authorize="hasAuthority('ADMIN')" class="btn btn-primary"  th:href="@{/pizza/create}">Crea nuova pizza</a>

  </div>
  <table class="table table-striped" th:if="${pizze.size() != 0}">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nome</th>
      <th scope="col">Descrizione</th>
      <th scope="col">Prezzo</th>
      <th scope="col">Azioni</th>

    </tr>
    </thead>
    <tbody>
    <tr th:each="p : ${pizze}" class="align-middle">
      <th scope="row" th:text="${p.id}"></th>
      <td th:text="${p.name}"></td>
      <td th:text="${p.description}">Otto</td>
      <td th:text="|€ ${p.price}|"></td>
      <td class="d-flex align-items-center ">
        <a class="btn btn-primary px-2 py-1 me-1" th:href="|/pizza/${p.getId()}|"><i class="fa-solid fa-pizza-slice"></i></a>
        <a class="btn btn-warning px-2 py-1 me-1" sec:authorize="hasAuthority('ADMIN')" th:href="|/pizza/edit/${p.getId()}|"><i
                class="fa-solid fa-pen-to-square"></i></a>
        <form method="post" th:action="@{|/pizza/delete/${p.getId()}|}" sec:authorize="hasAuthority('ADMIN')">
          <button class="btn btn-danger px-2 py-1" type="submit"><i class="fa-solid fa-trash-can"></i></button>
        </form>
      </td>

    </tr>
    </tbody>
  </table>
  <h2 th:if="${pizze.size() == 0 || pizze == null}">
    Non ci sono pizze disponibili!
  </h2>
</div>
</body>
</html>