<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <link rel="stylesheet" th:href="@{css/style.css}">
</head>
<body>
<!-- fragment della navbar: current è il nome dell'area in cui sto navigando -->
<nav class="navbar navbar-expand-md" th:fragment="navbar(current)">
  <div class="container-fluid">
    <div class="">
      <img style="width: 50px;" th:src="@{/Logo.png}" class="img-fluid logo">
    </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <!-- nei link appendo la classe active se l'area corrisponde a quella del link -->
        <li class="nav-item">
          <a class="nav-link" th:href="@{/}"
             th:classappend="${current == 'Menù' ? 'active' : ''}">Menù</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/pizza/create}"
             th:classappend="${current == 'Edit' ? 'active' : ''}">Nuova pizza</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/ingredients}"
             th:classappend="${current == 'Ingredients' ? 'active' : ''}">Ingredienti</a>
        </li>
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" th:href="@{/logout}">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
</body>
</html>